/*
MA PALETTE DE COULEURS :
 le bleu	   	  	#0065FC		rgb(0, 101, 252)
 le bleu claire 	#DEEBFF		rgb(222, 235, 255)
 le gris			#F2F2F2		rgb(242,242,242)
 le blanc			#ffffff		rgb(255,255,255)
 le gris foncé		#404040		rgb(64,64,64) ->couleur text header
 couleurTextemainNAv #606060 	rgb(96,96,96)
*/

/*Je commence tout d'abord par la version pour Desktop, comme je veux que ca reste fluide, 
quand la taille de l'écran change, je vais définir une largeur maximum et non pas juste une largeur */



*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}


body {

	background-color: #ffffff;
	font-family: Raleway;
	color: #606060;	

}

b{

	color: black;
}

ul {
	/*I want to remove all the bullet points */
	list-style-type: none; 

}


a {
	/*I want to remove my underlines*/
	text-decoration: none;
	/*I want to change the color of my links to have the same color as the text */
	color: #606060;
	font-family: 'Raleway';


}

/*I created two 'button' classes to remove hover effect from logo*/
.button:hover, .button-group a:hover{

	background-color: #DEEBFF ;
	
}


h1 {
	
	color: black;
	font-size: larger;
	padding: 1rem 0 1rem 2rem;
	/*I want to have a padding for my titles on the top and bottom */
}


h2{
	color: black;
	font-size: larger;
	font-weight: bold;
}

h3{
	color: black;
	font-size: larger;
	font-weight: bolder;
	font-family:'Raleway', sans-serif;
}

p{
	font-size: medium;
	padding-bottom: 0.5rem;
}


img {

	/*I want my images to fit in the container*/
	width: 100%;
}


.wrapper{

	max-width: 1480px; /*Un point d'arrêt fluide */
	margin: 0px auto;; /*Pour centrer les éléments: 
	je vais définir une marge égale à 0 en haut et en bas et auto à droite et à gauche*/
	
}


/*Après avoir crée en premier la page html, importé les icones, les fonts et défini les couleurs, je vais maintenant 
définir cinq selecteurs pour mes cinq zones*/




/*------header-----------*/

#header{

	background-color: #ffffff;
	padding: 0px 0px; /*On a 0 en haut et en bas et 20 a droite et a gauche */
	padding-top: 0px;
	margin-top: 0px;	
	max-height: 120px;
	
}

#header ul li:last-child a{

	color:#0065fc;
	font-weight: bolder!important;
}

#header ul{

    display: flex;
    justify-content: flex-end;
    align-items: start;
}


#header ul li{

	display: flex;
	font-family: Raleway, Verdana, sans-serif;	
	margin-right: 2rem;
	
}

#header ul li a{

	display: flex;
	font-family: Raleway, Verdana, sans-serif;
	color: #404040;
	padding-top: 2rem;
	
}

#header ul li a:focus {

    border-bottom: none;
    border-top: solid 2px #609ffd;
    color: #609ffd;
    margin-top: 0%;
}

#header ul li:first-child{

    margin-right: auto;
    
}


#header img{

    max-width: 30.75%;
}


#header {

    max-height: 144px;
}



/*---------mainNav----------*/


#mainNav{

	background-color: #ffffff;
	/* top, right, bottom, left */
	/*border: 2px solid black;*/
	
}

#mainNav header{
	
	/*border: 2px solid red;*/
	padding-bottom: 1rem;
	padding-top:1rem;
}

#mainNav header h2{

	padding-top: 1rem;
	padding-bottom:0.5rem;
	color: black;
	font-weight: bold;
	font-size: larger;
}

#mainNav header p{

	font-weight: bold;
}

#mainNav div.search{

	/*border: 2px solid green;*/
	padding-bottom: 0.75rem;
	/*padding-top:0.5rem;*/
	
}

#mainNav nav{

	/*border: 2px solid blue;*/
	padding-bottom: 2.5rem;
	padding-top: 0.5rem;

}

#mainNav ul li a{

	padding: 0.75rem 1rem 0.75rem 0; /* top, right, bottom, left */
	margin-left:1.5rem;
	font-family: 'Raleway', sans-serif;
	color: black;
	font-weight: bolder;
	font-size: large;
}



.fas fa-search{

	background-color:#0065fc;
	color: #ffffff;
	font-size: 32pt ;
	width: 50px;
	height: 50px;
	
}

.fa-money-bill-wave:before, .fa-child:before, .fa-heart:before, .fa-dog:before{

	color: #0065fc;
	background-color:#DEEBFF;
	border-radius: 22px;
	padding:13px;
	border: 2px solid #F2F2F2;
	
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{

	padding: 1rem 1rem 1rem 0;
	font-weight: bolder;
	color: black;
}

.fa:after, .far:after, .fas:after{

	font-family: 'Raleway';
}

form.search-form button.search_icon{

    display:none;
}

form.search-form button.Rechercher{

    display: initial;
    background-color: #0065FC;
    border-radius: 1px 17px 17px 1px;
    padding: 15px 25px;
    color: white;
    font-size: medium;
    border: 2px solid #0065FC;
}

#mainNav form i{
	
    border-radius: 13px 1px 1px 13px;
    border: 2px solid #f2f2f2;
    margin: 0;
    font-weight: bold;
    padding: 15px;
    background-color: #f2f2f2;
    color: black;
}

.search-form{

	padding-bottom: 1rem;
	display: inline-flex;
}

#site-search{

    padding: 15px;
    border: 2px solid #F2F2F2;
    font-weight: bold;
    font-size: medium;

}

::placeholder {

    color: black;
	font-weight: bolder;
    opacity: 1; /* Firefox */
	font-family: 'Raleway';
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
   font-weight: bolder;
   font-family: 'Raleway';
  }
  
::-ms-input-placeholder { /* Microsoft Edge */
   color: black;
   font-weight: bolder;
   font-family: 'Raleway';
  }



/*------mainNav buttons-------*/

.button-group{

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	
	
}


.button-group li a{
	
	font-weight: bold!important;
	border-top: 2px double #f2f2f2;
	border-right: 2px double #f2f2f2;
	border-bottom: 2px double #f2f2f2;
	border-radius: 22px;
	margin: 10px 10px 10px 0;
	font-weight: bold; 
	padding-right: 5px;

}

.fa-info-circle:before{

	
	margin-right: 10px;
	color: #0065fc;
    background-color: #f2f2f2;
    border-radius: 22px;
    padding: 10px;
    border: 2px solid #F2F2F2;
}

#mainNav#text{

	font-weight: bold;
	color: black;
}


/*----------mainContent-----------*/

#mainContent div.wrapper-grid{

    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
	grid-template-rows: 1fr 1fr 0.1fr;
    gap: 30px;
	justify-content: center;
	padding: 0 20px;
	
}

#mainContent div.aside-container{

	display: grid;
	grid-template-rows: 0.7fr 0.7fr 0.7fr;
	grid-template-columns: 0.85fr;
	justify-content: center;
	gap: 35px;

	
}

#mainContent div.row{

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 36px;
}

.card{

	overflow: hidden;
	box-shadow: 0px 2px #f2f2f2;
	border-radius: 2rem;
	border: 6px solid white;
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: #ffffff;
}



#hebergements div.card img{

	height: 135px;
	
}

.wrapper-grid h2{

padding: 0.5rem 1rem 0.2rem 1rem;

}

.wrapper-grid div.card__description{

	padding-bottom: 0.2rem 0;
}


/*
.card img{

	height: 12rem;
	object-fit: cover;
}
*/
/*
.card__title{

	padding: 1rem;
    background-color: #ffffff;
}
*/

.card__description{

	padding: 0.2rem 1rem;
    background-color: #ffffff;
}

.card__body:hover{

	transform:scale(1.02);
}


#mainContent {

	margin-top: 40px;	
	/*border: 2px solid blue;*/
		
}
 



#mainContent aside{

	background-color: #f2f2f2 ;
	/*padding: la marge intérieure vs margin: la marge extérieure*/
	padding: 2rem 20px 0px 20px; /*0 en haut et en bas et 20px à droite et à gauche OU top right bottom left */
	border-radius: 22px;
	/*	
	grid-template-columns: repeat(auto-fit, minmax(12rem,16rem));
	grid-gap:2rem;
	justify-content: center;
	*/
	
}

.aside-container div.card img{

	height: 230px;
	width: 40%;
	object-fit: cover;
	
	
}

.aside-container div.card__body{

	display: flex;
}

.aside-container div.card__description h3{

	padding-bottom: 0.5rem;
}

.aside-container div.card__description p{

	padding-bottom: 3rem;
}

#mainContent aside header{

	display:flex;
	justify-content: space-between;
	align-items:center;
	font-family: 'Raleway';
	font-size:larger;
	font-weight: bolder;
	padding-bottom: 0.6rem;
	
}

/*
#mainContent div.row{

	display: flex;
    gap: 3em;

}

#mainContent div.row > section{

	flex: 1 1 60%;
}

*/

#mainContent section{

	background-color:#f2f2f2;
	padding: 0px 20px;
	border-radius: 22px;	
	/*
	grid-template-columns: repeat(auto-fit, minmax(12rem,16rem));
	grid-gap:2rem;
	justify-content: center;*/
	

}

#mainContent section header{

	padding-top: 2rem;
	font-family: 'Raleway';
	font-size: larger;
	font-weight: bolder;
	padding-bottom: 0.6rem;

}

.Afficher h2{

	padding: 0 2rem 2rem 1rem;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	

}

i.fas.fa-chart-line{

	   font-size: larger;
       color: black;
	   margin-right: 2rem;
}

/*--------Additional content--------*/



#additionalContent{

	background: cornflowerblue;/*Added this color just for testing */
	/*background-color: #ffffff;*/
	padding: 0px 20px 60px 20px;
			/*top right bottom left*/
	/*grid-template-columns: repeat(auto-fit, minmax(12rem,16rem));*/
	
}

#additionalContent div.row{

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 36px;
	grid-template-rows: repeat(2, 7vw); /*vw = viewport */
	
}



#additionalContent div.card1{
	grid-column: 1;
    grid-row-start: 1;
	grid-row-end: 4;
	/*border: none;*/
	overflow: hidden;
	box-shadow: 0px 2px #f2f2f2;
	border-radius: 2rem;
	border: 6px solid black;
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: #ffffff;

   
}

#additionalContent div.card2{

	grid-column: 2;
    grid-row-start: 1;
	grid-row-end: 3;
	/*border: none;*/
	overflow: hidden;
	box-shadow: 0px 2px #f2f2f2;
	border-radius: 2rem;
	border: 6px solid black;
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: #ffffff;

    
	
}

#additionalContent div.card3{
	
	grid-column: 2;
    grid-row-start: 3;
	grid-row-end: 4;
	/*border: none;*/
	overflow: hidden;
	box-shadow: 0px 2px #f2f2f2;
	border-radius: 2rem;
	border: 6px solid black;
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: #ffffff;

   
}

#additionalContent div.card4{

 	 grid-column:3 ; 
 	 grid-row-start: 1; 
	 grid-row-end: 4;
	 /*border: none;*/
	overflow: hidden;
	box-shadow: 0px 2px #f2f2f2;
	border-radius: 2rem;
	border: 6px solid black;
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: #ffffff;
 
}

#additionalContent div.card5{

	grid-column: 4;
	grid-row-start: 1; 
	grid-row-end: 3;
	/*border: none;*/
	overflow: hidden;
	box-shadow: 0px 2px #f2f2f2;
	border-radius: 2rem;
	border: 6px solid black;
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: #ffffff;

}

#additionalContent div.card6{

	grid-column: 4;
	grid-row-start: 3; 
	grid-row-end: 4;
	/*border: none;*/
	overflow: hidden;
	box-shadow: 0px 2px #f2f2f2;
	border-radius: 2rem;
	border: 6px solid black;
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: #ffffff;

}


#additionalContent header{

	padding-top: 2rem;
	font-family: 'Raleway';
	font-size:larger;
	font-weight: bolder;

}

#additionalContent div.row img{

	object-fit: cover;
	/*The object fit property only works if we set the width and height properties.*/

}

.responsive1{

	height: 396px;
}

.responsive2{

	height:180px;
}

.responsive3{

	height:90px
}

.responsive4{

	height: 396px;
}

.responsive5{

	height:144px;
}

.responsive6{

	height:144px;
}

/*-----------footer-------------*/


.footer{

	background-color: #f2f2f2;	
	width: 100%;	
}

.footer div.container{

    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: start;  
    /*height: 250px;*/
    flex-direction: row;
	padding-bottom: 2.5rem;
}

.footer section{

	margin-right: 13%;
	
}

.footer h1{

	padding-left: 0;
	padding-top: 2.5rem;
}

.footer section ul li{

	padding: 0.5rem;
}

/*------STARS----------*/



/* Par défaut, une étoile est en grise,
   avec un padding */

   .fa-star {

	color: rgba(242,242,242, 1);
	padding: 0.0625rem;
    }

/* Si elle porte en plus la classe '.blue', elle sera en bleu. */
.fa-star.blue {
	color: #0065fc;
   }


/* Le groupe '.stars' positionne les étoiles
les unes à côté des autres sans espacements. */
.stars {
		display: inline-flex;
		justify-content: center;
		font-size: 1em;
		padding-bottom: 0.5rem;
		opacity: 1;
	}



/*---------END OF @media 1480-----------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
@media all and (max-width: 480px)
	{
		/* Vos règles CSS pour les mobiles ici 
		Les périphériques mobiles ne dépassant pas 480 px de large*/
        .wrapper{
            max-width: 480px; /*Un point d'arrêt fluide */
            margin: 0px auto;; /*Pour centrer les éléments: 
            je vais définir une marge égale à 0 en haut et en bas et auto à droite et à gauche*/
            
        }

        /*------------header ---------*/
        /*Sur un petit écran : le logo, après avoir affiché la grille de photoshop, occupe 6 grilles,
        ce qui correspond à 48.78% selon le site gridinator.com*/
 
        #header img{

	    max-width: 48.78%;

        }

        #header ul{

            margin-top: auto;
            
        }

        #header ul li a:focus {

            border-bottom: solid 3px #609ffd;    
            color: #0065FC;
        }



        /*------------mainNav-----------*/


        form.search-form button.Rechercher{
            display:none;
        }

		form.search-form button.search_icon{
			display:initial;
		}
        
        #mainNav form i{
	
            border-radius: 22px;
            border: 2px solid #f2f2f2;
            margin: 0;
            font-weight: bold;
            padding: 5px;
            background-color: #f2f2f2;
        }

        /*---------mainContent----------*/


        #mainContent section{

            background-color: #ffffff;
    
        }

        /*----------footer------------*/


         .footer div.container{

        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
       
		flex-direction: column;
    
       }

     
    }
/*--------------------------------------------------------------------------------------------------------------------------------*/

@media all and (max-width: 768px)
	{
		
        .wrapper{
            max-width: 768px; /*Un point d'arrêt fluide */
            margin: 0px auto;; /*Pour centrer les éléments: 
            je vais définir une marge égale à 0 en haut et en bas et auto à droite et à gauche*/
            
        }



		/*------------mainNav-----------*/


        form.search-form button.Rechercher{
            display:none;
        }

		form.search-form button.search_icon{
			display:initial;
		}

		/*----------footer--------------*/

		.footer div.container{

			display: flex;
			justify-content: start;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			
			flex-direction: column;
		
		   }
        
	}	


/*--------------------------------------------------------------------------------------------------------------------------------*/   
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all  and (min-width: 1024px) and (max-width: 1480px)
	{
        .wrapper{
            max-width: 1480px; /*Un point d'arrêt fluide */
            margin: 0px auto;; /*Pour centrer les éléments: 
            je vais définir une marge égale à 0 en haut et en bas et auto à droite et à gauche*/
            
        }

		/*----------footer--------------*/

		.footer div.container{

			display: flex;
			justify-content: start;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			
			flex-direction: column;
		
		   }

    }


/*--------------------------------------------------------------------------------------------------------------------------------*/
