/*
MA PALETTE DE COULEURS :
 le bleu	   	  	#0065FC		rgb(0, 101, 252)
 le bleu claire 	#DEEBFF		rgb(222, 235, 255)
 le gris			#F2F2F2		rgb(242,242,242)
 le blanc			#ffffff		rgb(255,255,255)
 le gris foncé		#404040		rgb(64,64,64) ->couleur text header
 couleurTextemainNAv #606060 	rgb(96,96,96)
*/

/*Mes variables pour les couleurs*/
:root{

	--text-color:#606060;
	--title-color:#000000;
	--link-active-color: #0065fc;
	--section-background-color: #DEEBFF;
	--body-background-color: #ffffff;
	--header-text-color: #404040;
	--link-focus-color: #609ffd;
	--mainNav-link-border-color: #e0e0e0;
	--icon-border-color: #F2F2F2;

}

/*Je commence tout d'abord par la version pour Desktop, comme je veux que ca reste fluide, 
quand la taille de l'écran change, je vais définir une largeur maximum et non pas juste une largeur */



*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}


body {

	background-color: var(--body-background-color);
	font-family: 'Raleway', sans-serif;
	color: var(--text-color);	

}

b{

	color: var(--title-color);
}

ul {
	/*I want to remove all the bullet points */
	list-style-type: none; 

}


a {
	/*I want to remove my underlines*/
	text-decoration: none;
	/*I want to change the color of my links to have the same color as the text */
	color: var(--text-color);
	font-family: 'Raleway', sans-serif;


}

/*I created two 'button' classes to remove hover effect from logo*/
.button:hover, .button-group a:hover{

	background-color: var(--section-background-color) ;
	
}


h1 {
	
	color: var(--title-color);
	font-size: larger;
	font-weight: 800;
	 /*rem units depend on the body's font-size, so if a font-size is not defined, the default is 16px so 1rem=16px */
	padding: 1rem 0 1rem 2rem; 
	/*I want to have a padding for my titles on the top and bottom */
}


h2{
	color: var(--title-color);
	font-size: larger;
	font-weight: 700;
}

h3{
	color: var(--title-color);
	font-size: large;
	font-weight: 700;
	font-family:'Raleway', sans-serif;
}

p{
	
	font-weight: 600;
    font-size: large;
}


img {

	/*I want my images to fit in the container*/
	width: 100%;
}


.wrapper{

	max-width: 1480px; /*Un point d'arrêt fluide */
	min-width: 1280px;
	margin: 0px 50px; /*Pour centrer les éléments: 
	je vais définir une marge égale à 0 en haut et en bas et 22px à droite et à gauche*/
	
}


/*Après avoir crée en premier la page html, importé les icones, les fonts et défini les couleurs, je vais maintenant 
définir cinq selecteurs pour mes cinq zones*/




/*------header-----------*/

#header{

	background-color: var(--body-background-color);
	padding: 0px 0px; /*On a 0 en haut et en bas et 20 a droite et a gauche */
	padding-top: 0px;
	margin-top: 0px;	
	max-height: 120px;
	
}

#header ul li:last-child a{

	color: var(--link-active-color);
	font-weight: 800;
	
}

#header ul{

    display: flex;
    justify-content: flex-end;
    align-items: start;
}

/*
.button:target~a [href="#hebergements"]{

	border-top: solid 2px var(--link-focus-color);
    color: var(--link-focus-color);

}
*/

#header ul li{

	display: flex;
	font-family: 'Raleway', sans-serif;	
	
	
}

#header ul li a{

	display: flex;
	font-family: 'Raleway', sans-serif;
	color: var(--header-text-color);
	padding-top: 2.5rem;
	font-weight: 600;
	padding-right: 2.5rem;
	padding-left: 2.5rem;
	padding-bottom: 1rem;
}

#header ul li a:focus, #header ul li a:active{

    border-bottom: none;
    border-top: solid 2px var(--link-focus-color);
    color: var(--link-focus-color);
    margin-top: 0%;
}



#header ul li:first-child{

    margin-right: auto;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
    
}

#header ul li:first-child a{

	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
    

}



#header img{

    max-width: 26%;
}


#header {

    max-height: 144px;
}



/*---------mainNav----------*/


#mainNav{

	background-color: var(--body-background-color);
	/* top, right, bottom, left */
	/*border: 2px solid black;*/
	
}

#mainNav header{
	
	/*border: 2px solid red;*/
	padding-bottom: 1rem;
	padding-top: 1rem;
}

#mainNav header h2{

	padding-top: 1rem;
	padding-bottom:0.5rem;
	color: var(--title-color);
	font-weight: 800;
	font-size: x-large;
}

#mainNav header p{

	font-weight: 700;
	font-size: medium;
}

#mainNav div.search{

	/*border: 2px solid green;*/
	padding-bottom: 0.75rem;
	/*padding-top:0.5rem;*/
	
}

#mainNav nav{

	/*border: 2px solid blue;*/
	padding-bottom: 2.5rem;
	padding-top: 0.5rem;

}

#mainNav ul li a{

	padding: 0.75rem 2rem 0.75rem 0;
	/* top, right, bottom, left */
	margin-left: 1.5rem;
	font-family: 'Raleway', sans-serif;
	color: var(--title-color);
	font-weight: 800; 
	/*font-weight & font-size : the text after the icons*/
	font-size: large;
	border-top: 3px solid var(--mainNav-link-border-color);
	border-right: 3px solid var(--mainNav-link-border-color);
	border-bottom: 3px solid var(--mainNav-link-border-color);
	border-radius: 27px;	
	padding-right: 1.5rem;
}



.fas fa-search{

	background-color: var(--link-active-color);
	color: var(--body-background-color);
	font-size: 32pt ;
	width: 50px;
	height: 50px;
	
}

.fa-money-bill-wave:before, .fa-child:before, .fa-heart:before, .fa-dog:before{
	/*this part describes the icon before the text*/

	color: var(--link-active-color);
	background-color: var(--section-background-color);
	border-radius: 25px;
	padding: 15px;
	border: 2px solid var(--icon-border-color);
	font-size: large;
	
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{

	padding: 1rem 1rem 1rem 0;
	
}

.fa:after, .far:after, .fas:after{

	font-family: 'Raleway', sans-serif;

}

form.search-form button.search_icon{

    display: none;
}

form.search-form button.Rechercher{

    display: initial;
    background-color: var(--link-active-color);
    border-radius: 1px 17px 17px 1px;
    padding: 15px 20px;
    color: var(--body-background-color);
    font-size: medium;
    border: 2px solid var(--link-active-color);
	font-size: large;
    font-weight: 600;
}

i.fas.fa-map-marker-alt {
	
    border-radius: 13px 1px 1px 13px;
    border: 2px solid var(--icon-border-color);
    margin: 0;
	font-size: larger;
    padding: 17px;
    background-color: var(--icon-border-color);
    color: var(--title-color);
}



.search-form{

	padding-bottom: 1rem;
	display: inline-flex;
}

#site-search{

    padding: 15px;
    border: 2px solid var(--icon-border-color);
    font-weight: bold;
    font-size: medium;

}

::placeholder {

    color: var(--title-color);
	font-weight: 800;
	font-size:larger;
    opacity: 1; /* Firefox */
	font-family: 'Raleway', sans-serif;
	margin-right: 0px;
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--title-color);
   font-weight: 800;
   font-size:larger;
   font-family: 'Raleway', sans-serif;
   margin-right: 0px;
  }
  
::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--title-color);
   font-weight: 800;
   font-size:larger;
   font-family: 'Raleway', sans-serif;
   margin-right: 0px;
  }



/*------mainNav buttons-------*/

.button-group{

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	
	
}

i.fas.fa-info-circle::after{

	background-color: var(--icon-border-color);
}

i.fas.fa-info-circle::before{

	
	margin-right: 13px;
	color: var(--body-background-color);
    background: var(--link-active-color);
    border-radius: 22px;
    border: 2px solid var(--icon-border-color);
	font-size: x-large;
}





/*----------mainContent-----------*/

#mainContent div.wrapper-grid{

    display: grid;
    grid-template-columns: repeat(3, 0.4fr);
	grid-template-rows: 3fr 3fr 0.01fr;
    gap: 30px;
	justify-content: center;
	padding: 0 20px;
	grid-area: wrapper-grid;
	/*height: calc(70vh - 0px);*/
	
}

#mainContent div.aside-container{

	display: grid;
	grid-template-rows: 0.7fr 0.7fr 0.7fr 0.01fr;
	grid-template-columns: 0.9fr;
	justify-content: center;
	gap: 40px;
	grid-area: aside;
	
}

#mainContent div.row{

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 36px;
}

.card{

	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	/*box-shadow: 10px 5px 5px var(--icon-border-color);*/
	border-radius: 2rem;
	border: 6px solid var(--body-background-color);
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: var(--body-background-color);
	min-height: 215px;
}

.wrapper-grid div.card__body.aubergeLaCannebiere{

	background-image: url(../images/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
	object-fit:cover;
	height:60%;
	position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	/*border: 2px solid black;*/
}


.wrapper-grid div.card__body.hotelDuPort{

	background-image: url(../images/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
	object-fit:cover;
	height:60%;
	position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	/*border: 2px solid black;*/
}


.wrapper-grid div.card__body.hotelLesMouettes{

	background-image: url(../images/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg);
	object-fit:cover;
	height:60%;
	position: relative;
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
	/*border: 2px solid black;*/
}

.wrapper-grid div.card__body.hotelDeLaMer{

	background-image: url(../images/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
	object-fit:cover;
	height:60%;
	position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	/*border: 2px solid black;*/
}

.wrapper-grid div.card__body.aubergeLePanier{

	background-image: url(../images/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
	object-fit:cover;
	height:60%;
	position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	/*border: 2px solid black;*/
}

.wrapper-grid div.card__body.hotelChezAmina{

	background-image: url(../images/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
	object-fit:cover;
	height:60%;
	position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	/*border: 2px solid black;*/
}




#hebergements div.card img{

	height: 120px;
	
}

.wrapper-grid h3{

padding: 0.5rem 1rem 0.2rem 1rem;
background: var(--body-background-color);
position: relative;
top: 120px;

}

.wrapper-grid p{

	font-size: medium;
	padding-bottom: 0.3rem;
}

.wrapper-grid div.card__description{

	padding-bottom: 0.2rem 0;
	position: relative;
    top: 120px;
}


/*
.card img{

	height: 12rem;
	object-fit: cover;
}
*/
/*
.card__title{

	padding: 1rem;
    background-color: #ffffff;
}
*/

.card__description{

	padding: 0.2rem 1rem;
    background-color: var(--body-background-color);
}

.card__body:hover{

	transform:scale(1.02);
}


#mainContent {

	margin-top: 40px;	
	/*border: 2px solid blue;*/
		
}
 



#mainContent aside{

	background-color: var(--icon-border-color) ;
	/*padding: la marge intérieure vs margin: la marge extérieure*/
	padding: 2rem 20px 0px 20px; /*0 en haut et en bas et 20px à droite et à gauche OU top right bottom left */
	border-radius: 22px;
	/*	
	grid-template-columns: repeat(auto-fit, minmax(12rem,16rem));
	grid-gap:2rem;
	justify-content: center;
	*/
	
}

.aside-container div.card{

	min-height: 150px;
	border-radius: 1.5rem;
}


.aside-container div.card img{

	height: 200px;
	width: 40%;
	object-fit: cover;
	
	
}
.aside-container div.card__body.hotelLeSoleilDuMatin{
	height: 200px;
	background-image: url(../images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
	background-size: cover;
	background-position: top;
	
}

.aside-container div.card__body.auCoeurDeLeau{

	height: 200px;
	background-image: url(../images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg);
	background-size: cover;
	background-position: top;
	
}

.aside-container div.card__body.hotelToutBleuEtBlanc{

	height: 200px;
	background-image: url(../images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
	background-size: cover;
	background-position: top;
}

.aside-container div.card__body{

	display: flex;
	flex-direction: row-reverse;
}

.aside-container div.card__description{

	width: 60%;
}

.aside-container div.card__description h3{
	font-size: large;
	padding-bottom: 0.5rem;
	padding-top: 1rem;
}

.aside-container div.card__description p{

	padding-bottom: 1.5rem;
	font-size: medium;
}

#mainContent aside header{

	display:flex;
	justify-content: space-between;
	align-items:center;
	font-family: 'Raleway', sans-serif;
	font-size:larger;
	font-weight: bolder;
	padding-bottom: 0.6rem;
	
}

/*
#mainContent div.row{

	display: flex;
    gap: 3em;

}

#mainContent div.row > section{

	flex: 1 1 60%;
}

*/

#mainContent section{

	background-color: var(--icon-border-color);
	padding: 0px 20px;
	border-radius: 22px;	
	/*
	grid-template-columns: repeat(auto-fit, minmax(12rem,16rem));
	grid-gap:2rem;
	justify-content: center;*/
	

}

#mainContent section header{

	padding-top: 2rem;
	font-family: 'Raleway', sans-serif;
	font-size: larger;
	font-weight: bolder;
	padding-bottom: 0.6rem;

}

.Afficher h2{

	padding: 0 2rem 2.5rem 1rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	/*border: 2px solid black;*/

}

.Afficher{

	/*border: 2px solid black;*/
	position: static;

}

i.fas.fa-chart-line{

	   font-size: x-large;
	   font-weight: 900;
       color: var(--title-color);
	   margin-right: 2rem;
}

/*--------Additional content--------*/



#additionalContent{

	/*background: cornflowerblue;Added this color just for testing */
	background-color: var(--body-background-color);
	padding: 0px 20px 60px 20px;
			/*top right bottom left*/
	/*grid-template-columns: repeat(auto-fit, minmax(12rem,16rem));*/
	
}

#additionalContent div.row{

	display: grid;
	grid-template-columns: repeat(4, 0.5fr);
	gap: 36px;
	grid-template-rows: repeat(2, 7vw); /*vw = viewport */
	
}



#additionalContent div.card1{

	grid-column: 1;
    grid-row-start: 1;
	grid-row-end: 4;
	/*border: none;*/
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 2rem;
	/*border: 6px solid black;*/
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: var(--body-background-color);

   
}

#additionalContent div.card2{

	grid-column: 2;
    grid-row-start: 1;
	grid-row-end: 3;
	/*border: none;*/
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 2rem;
	/*border: 6px solid black;*/
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: var(--body-background-color);

    
	
}

#additionalContent div.card3{
	
	grid-column: 2;
    grid-row-start: 3;
	grid-row-end: 4;
	/*border: none;*/
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 2rem;
	/*border: 6px solid black;*/
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: var(--body-background-color);

   
}

#additionalContent div.card4{

 	 grid-column: 3; 
 	 grid-row-start: 1; 
	 grid-row-end: 4;
	 /*border: none;*/
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 2rem;
	/*border: 6px solid black;*/
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: var(--body-background-color);
 
}

#additionalContent div.card5{

	grid-column: 4;
	grid-row-start: 1; 
	grid-row-end: 3;
	/*border: none;*/
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 2rem;
	/*border: 6px solid black;*/
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: var(--body-background-color);

}

#additionalContent div.card6{

	grid-column: 4;
	grid-row-start: 3; 
	grid-row-end: 4;
	/*border: none;*/
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 2rem;
	/*border: 6px solid black;*/
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: var(--body-background-color);

}


#additionalContent header{

	padding-top: 2rem;
	font-family: 'Raleway', sans-serif;
	font-size: larger;
	font-weight: bolder;

}

#additionalContent div.row img{

	object-fit: cover;
	/*The object fit property only works if we set the width and height properties.*/

}

.responsive1{

	height: 450px;
	/*396px*/
}

.responsive2{

	height:180px;
}

.responsive3{

	height:90px
}

.responsive4{

	height: 450px;
}

.responsive5{

	height:144px;
}

.responsive6{

	height:144px;
}

/*-----------footer-------------*/


.footer{

	background-color: #f2f2f2;	
	width: 100%;	
}

.footer div.container{

    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: start;  
    flex-direction: row;
	padding-bottom: 2.5rem;
}

.footer section{

	margin-right: 19%;
	
}

.footer h1{

	padding-left: 0;
	padding-top: 2.5rem;
}

.footer section ul li{

	padding: 0.5rem;
}

/*------STARS----------*/



/* Par défaut, une étoile est en grise,
   avec un padding */

   .fa-star {

	/*color: rgba(242,242,242, 1);*/
	color:rgba(224,224,224, 1);
	padding: 0.0625rem;
    }

/* Si elle porte en plus la classe '.blue', elle sera en bleu. */
   .fa-star.blue {
	color: var(--link-active-color);
   }


/* Le groupe '.stars' positionne les étoiles
les unes à côté des autres sans espacements. */
.stars {
		display: inline-flex;
		justify-content: center;
		font-size: 0.8em;
		padding-bottom: 0.5rem;
		padding-top: 4px;
		opacity: 1;
	}



/*---------END OF @media 1480-----------------------------------------------------------------------------------------------------------------------*/



/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width: 480px) and (max-width: 768px)
	{
		/* Vos règles CSS pour les mobiles ici 
		Les périphériques mobiles ne dépassant pas 480 px de large*/
        .wrapper{
            min-width: 480px;
			max-width: 768px; /*Un point d'arrêt fluide */
            margin: 0px 22px; /*Pour centrer les éléments: 
            je vais définir une marge égale à 0 en haut et en bas et 22px à droite et à gauche*/
            
        }

        /*------------header ---------*/
        /*Sur un petit écran : le logo, après avoir affiché la grille de photoshop, occupe 6 grilles,
        ce qui correspond à 48.78% selon le site gridinator.com*/
 
        #header img{

	    min-width: 48.78%;

        }

        #header ul{

            margin-top: auto;
			flex-wrap: wrap;
			align-items: stretch;
			flex-direction: row-reverse;
            
        }

		.button{

			align-items:stretch;
			flex-wrap: wrap;
			

		}
        #header ul li a:focus {

            border-bottom: solid 3px var(--link-focus-color);    
            color: var(--link-active-color);
        }



        /*------------mainNav-----------*/


        form.search-form button.Rechercher{

            display: none;
        }

		form.search-form button.search_icon{

			display:initial;
			border-radius: 13px 15px 15px 13px;
			border: 2px solid var(--link-active-color);
			background-color: var(--link-active-color);
			padding: 15px 16px 16px 15px;
			color: var(--body-background-color);
		}

		form.search-form{

			align-self: stretch;
		}

		#site-search {

			padding: 15px 20px 15px 40px;
			margin-right: -12px;
			
		}
        
		

        /*---------mainContent----------*/


        #mainContent section{

            background-color: var(--body-background-color);
    
        }

		#mainContent div.wrapper-grid{

			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
			gap: 30px;
			justify-content: center;
			padding: 0 20px;
			
		}

		#mainContent div.row{

			display: grid;
			grid-template-columns: 1fr;
			grid-template-areas: "aside" "wrapper-grid";
			gap: 36px;
		}

		#mainContent div.aside-container {
			
			/*grid-template-rows: 0.7fr 0.7fr;
			grid-template-columns: 1fr 1fr;
			gap: 30px;*/
			padding-bottom: 30px;
		}


		/*---------additionalContent----------*/

		#additionalContent header {

			padding-bottom: 25px;
			margin-left: -20px;
			font-weight: bolder;
		}


		#additionalContent div.row{

			grid-template-columns: 0.8fr;
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
			gap:30px;
			justify-content: start;
			
		}

		#additionalContent div.card1, #additionalContent div.card2, #additionalContent div.card3, #additionalContent div.card4, #additionalContent div.card5, #additionalContent div.card6{

			grid-column:unset;
            grid-row-start:unset;
	        grid-row-end:unset;
		}


        /*----------footer------------*/


         .footer div.container{
       
        
         justify-content:center;        
        justify-content:center;
         justify-content:center;        
        
         flex-direction: column;
    
       }

	   


     
    }
/*--------------------------------------------------------------------------------------------------------------------------------*/

@media all and (min-width: 768px) and (max-width: 1024px)
	{
		
        .wrapper{
			min-width: 768px;
            max-width: 1024px; /*Un point d'arrêt fluide */
            margin: 0px 22px; /*Pour centrer les éléments: 
            je vais définir une marge égale à 0 en haut et en bas et 22px à droite et à gauche*/
            
        }



		/*------------mainNav-----------*/


        form.search-form button.Rechercher{
            display:none;
        }

		form.search-form button.search_icon{
			display:initial;
			border-radius: 13px 15px 15px 13px;
			border: 2px solid var(--link-active-color);
			background-color: var(--link-active-color);
			padding: 15px 16px 16px 15px;
			color: var(--body-background-color);
		}
		
		#site-search{

			padding: 15px 0px 15px 15px;
			border: 2px 0px 2px 2px;
    		border-top: 2px solid var(--icon-border-color);
    		border-right: 0px;
    		border-bottom: 2px solid var(--icon-border-color);
    		border-left: 2px solid var(--icon-border-color);
			margin-right: -12px;
		}

		.button-group li a {

			margin: 5px 5px 5px 0px;
		}

		.button-group h2{

			font-weight: 900;
		}

		

		 /*---------mainContent----------*/


		#mainContent div.row{

			display: grid;
			grid-template-columns: 1fr;
			gap: 36px;
		}

		#mainContent div.wrapper-grid{

			display: grid;
			grid-template-columns:1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 0.1fr;
			gap: 30px;
			justify-content: center;
			padding: 0 20px;
			
		}

		#mainContent aside header {

			padding-bottom: 1rem;
			margin-right: 40px;
			margin-left: 45px;
		}

		#mainContent div.aside-container {

			grid-template-rows: 0.7fr 0.7fr 0.7fr 0.1fr;
		}

		
		/*---------additionalContent----------*/
		/*
		#additionalContent header {

			padding-bottom: 30px;
		}

		#additionalContent div.row{

				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr;

			}
		}

		#additionalContent div.row img{	

			height: 120px;
			object-fit: cover;
			width: 100%;
		}
		*/

		/*
		#additionalContent div.card1, #additionalContent div.card2, #additionalContent div.card3, #additionalContent div.card4, #additionalContent div.card5, #additionalContent div.card6{

			grid-column:unset;
            grid-row-start:unset;
	        grid-row-end:unset;
		}
		*/

		/*----------footer--------------*/
		/*
		.footer div.container{		
			
				align-items: start;
 			    flex-direction: column;
				
		   }
		  


		.footer section {

			margin-right: 10%;
		*/
	}	


/*--------------------------------------------------------------------------------------------------------------------------------*/   
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all  and (min-width: 1024px) and (max-width: 1280px)
	{
        .wrapper{
			min-width: 1024px;
            max-width: 1280px; /*Un point d'arrêt fluide */
            margin: 0px 22px; /*Pour centrer les éléments: 
            je vais définir une marge égale à 0 en haut et en bas et 22px à droite et à gauche*/
            
        }

		 /*---------mainContent----------*/
		 #mainContent div.row{

			display: grid;
			grid-template-columns: 1fr;
			gap: 36px;
		}

		#mainContent div.wrapper-grid{

			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 0.1fr;
			gap: 30px;
			justify-content: center;
			padding: 0 20px;
			
		}

		#mainContent div.aside-container {
			
			grid-template-rows: 0.7fr 0.7fr;
			grid-template-columns: 1fr 1fr;
			gap: 30px;
			padding-bottom: 30px;
		}

		aside header h1{

			padding: 1rem 0 1rem 0.5rem;
		}

		i.fas.fa-chart-line {

			margin-right: 0.5rem;
		}

		/*---------additionalContent----------*/


		#additionalContent header h1{

			padding: 1rem 0 2rem 0.5rem;
		}

		#additionalContent div.row{

			
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;	
			
		}

		.responsive1, .responsive2, .responsive3, .responsive4, .responsive5, .responsive6{

			height: 120px;
		}

		#additionalContent div.card1, #additionalContent div.card2, #additionalContent div.card3, #additionalContent div.card4, #additionalContent div.card5, #additionalContent div.card6{

			grid-column:unset;
            grid-row-start:unset;
	        grid-row-end:unset;
		}



		/*----------footer--------------*/

		.footer section{

			margin-right: 10%;
		}

		.footer div.container {
			
			justify-content: initial;

		}

		 
    }


/*--------------------------------------------------------------------------------------------------------------------------------*/
