.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text";
    border-radius: 22px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }

 /*--------Additional content--------*/



#additionalContent{

	/*background: cornflowerblue;Added this color just for testing */
	background-color: var(--body-background-color);
	padding: 0px 20px 60px 20px;
			/*top right bottom left*/
	/*grid-template-columns: repeat(auto-fit, minmax(12rem,16rem));*/
	
}

#additionalContent div.row{

	display: grid;
	grid-template-columns: repeat(4, 0.5fr);
	gap: 36px;
	/*grid-template-rows: repeat(2, 7vw); /*vw = viewport */
	grid-template-rows: 0.7fr 0.2fr 0.5fr 0.4fr;
}

#additionalContent header h1{

	font-weight:500;
	font-size: larger;
	padding-left: 1px;
	padding-bottom: 25px;
}

#additionalContent h1.card__title{

	font-size: medium;
	font-weight:800;
}

#additionalContent div.card1{

	grid-column: 1;
    grid-row-start: 1;
	grid-row-end: 5;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 2rem;
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: var(--body-background-color);

   
}

.card1 div.card__body.vieuxPort{

	background-image: url(../images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
	height: 87%;
	object-fit: cover;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.card1 h1{

	position: relative;
	top: 410px;
	
}

#additionalContent div.card2{

	grid-column: 2;
    grid-row-start: 1;
	grid-row-end: 3;
	/*border: none;*/
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 2rem;
	/*border: 6px solid black;*/
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: var(--body-background-color);
    
}

.card2 div.card__body.fortDePomegues{

	background-image: url(../images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
	object-fit: cover;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height:80%;

}

.card2 h1{

	position: relative;
	top: 170px;
}

#additionalContent div.card3{
	
	grid-column: 2;
    grid-row-start: 3;
	grid-row-end: 4;
	/*border: none;*/
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 2rem;
	/*border: 6px solid black;*/
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: var(--body-background-color);

   
}

.card3 div.card__body.ilesDuFrioul{

	background-image: url(../images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
	object-fit: cover;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height:75%;
}

.card3 h1{
	position: relative;
	top:60px;
}


#additionalContent div.card4{

 	 grid-column: 3; 
 	 grid-row-start: 1; 
	 grid-row-end: 5;
	 /*border: none;*/
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 2rem;
	/*border: 6px solid black;*/
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: var(--body-background-color);
 
}

.card4 div.card__body.ParcNationalDesCalanques{

	background-image: url(../images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
	height: 87%;
	object-fit: cover;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;


}

.card4 h1{
	position: relative;
	top: 410px;
}

#additionalContent div.card5{

	grid-column: 4;
	grid-row-start: 1; 
	grid-row-end: 3;
	/*border: none;*/
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 2rem;
	/*border: 6px solid black;*/
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: var(--body-background-color);

}

#additionalContent div.card6{

	grid-column: 4;
	grid-row-start: 3; 
	grid-row-end: 4;
	/*border: none;*/
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 2rem;
	/*border: 6px solid black;*/
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;*/
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
	background: var(--body-background-color);

}


#additionalContent header{

	padding-top: 2rem;
	font-family: 'Raleway', sans-serif;
	font-size: larger;
	font-weight: bolder;

}
